<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test run">
    <listeners>
		 <listener class-name="com.sample.listener.TestNGListener"></listener>
		<listener class-name="com.sample.listener.ExecutionListener"></listener> 
		<!-- <listener class-name="com.sample.listener.AnnotationTransformer"></listener> -->
	</listeners>  

	<test name="Test">
		<classes>
			<class name="com.sample.RunnerClass"/>
		</classes>
	</test>
</suite>